{% extends 'base.html' %}
{% block title %}Weather - {{city}}{% endblock %}
{% block content %}
<div class="bgimg-1 w3-display-container" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;background-color:white;padding:20px;opacity:0.6;color:black;">
  <form action="{% url 'login' %}">
    <button class="w3-button w3-red w3-left w3-section" type="submit">SET ALARM</button>
  </form>
  <section class="weather-card C(#fff) M(10px) Pos(a) B(0) Start(0) End(0)" data-type="temperature" data-reactid="21">
    <div class="temperature Fz(14px) Tsh($temperature-text-shadow)" data-reactid="22">
      <div class="My(2px)" data-reactid="23">
        <span data-code="39" class="Va(m)" data-reactid="24">
          <img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon}}.png" data-reactid="25">
        </span>
        <span style="font-size:35">{{description}}</span>
      </div>
      <br />
      <div class="high-low My(2px) Fz(1.2em)--sm Fz(1.6em) Trsdu(.3s)" data-reactid="27">
        <svg class="Va(m) Px(6px) Cur(p)" width="20" height="20" viewBox="0 0 48 48" data-icon="arrow-up" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0; vertical-align: bottom;">
          <path d="M13.764 18.75c-.792.772-.808 2.037-.04 2.828.772.792 2.038.81 2.83.04l5.678-5.526v23.59h4v-23.59l5.68 5.525c.79.77 2.058.753 2.827-.04.377-.388.565-.89.565-1.394 0-.52-.202-1.042-.605-1.434L24.23 8.566 13.763 18.75z">
          </path>
        </svg>
        <span class="Va(m) Px(6px)" data-reactid="29"><!-- react-text: 30 -->{{max}}<!-- /react-text --><!-- react-text: 31 -->°<!-- /react-text -->
        </span>
        <svg class="Va(m) Px(6px) Cur(p)" width="20" height="20" viewBox="0 0 48 48" data-icon="arrow-down" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0; vertical-align: bottom;">
          <path d="M34.7 29.5c.793-.773.81-2.038.04-2.83-.77-.79-2.037-.81-2.83-.038l-5.677 5.525V8.567h-4v23.59l-5.68-5.525c-.79-.77-2.058-.753-2.827.04-.378.388-.566.89-.566 1.394 0 .52.202 1.042.605 1.434l10.472 10.183L34.7 29.5z">
          </path>
        </svg>
        <span class="Va(m) Px(6px)" data-reactid="33"><!-- react-text: 34 -->{{min}}<!-- /react-text --><!-- react-text: 35 -->°<!-- /react-text -->
        </span>
      </div>
      <br />
      <div class="now Fz(8em)--sm Fz(10em) Lh(0.9em) Fw(100) My(2px) Trsdu(.3s)" data-reactid="36">
        <span class="Va(t)" data-reactid="37" style="font-size:85px">{{temp}}</span>
        <span class="Va(t) Fz(.7em) Lh(1em)" data-reactid="38" style="font-size:25px">°</span>
        <span class="unit Tt(c) Fz(.2em) Fw(200) O(n) P(6px) Va(t) D(b) Lh(1em) Tsh($temperature-text-shadow) M(a) C(#fff)" data-reactid="40" style="font-size:25px">C</span>
      </div>
    </div>
  </section>
  </div>
</div>
{% endblock %}

<head>
  <title>Welcome</title>
  <h1 style="color:white">Current weather in {{city}}</h1>
  <h2>{{country}}</h2>
  <h3>{{datetime}}</h3>
  <script type="text/javascript" src="jquery.js"></script>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="default.css"/>
  <link href="/themes/openweathermap/assets/vendor/mosaic/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <style>
  body {
    background-image: url(https://maps.googleapis.com/maps/api/place/photo?maxwidth=1024&photoreference={{reference}}&key=AIzaSyDK1zU_jWE0pWRqIdyiFD2SIlX7xmxP9WQ);
    background-attachment: fixed;
    background-size: cover;
  }
  div{
    color: white
  }
  table{
    color:white
  }
</style>
</head>
<body>

