<!DOCTYPE html>
<html>
<head>
  <title>Weather at {{city}}</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    div{
      color: white
    }
    .outer_face {
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 250px;
        background: white;
        box-shadow: inset 0 0 10px gray;
        border: 14px solid black
    }

    .outer_face::before, .outer_face::after, .outer_face .marker {
        content: "";
        position: absolute;
        width: 10px;
        height: 100%;
        background: black;
        z-index: 0;
        left: 50%;
        margin-left: -5px;
        top: 0
    }

    .outer_face::after {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .outer_face .marker {
        background: gray;
        width: 8px;
        margin-left: -4px
    }

    .outer_face .marker.oneseven {
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg)
    }

    .outer_face .marker.twoeight {
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg)
    }

    .outer_face .marker.fourten {
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg)
    }

    .outer_face .marker.fiveeleven {
        -moz-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg)
    }

    .inner_face {
        position: relative;
        width: 88%;
        height: 88%;
        background: white;
        -moz-border-radius: 1000px;
        -webkit-border-radius: 1000px;
        border-radius: 1000px;
        z-index: 1000;
        left: 6%;
        top: 6%
    }

    .inner_face::before {
        /* clock center circle small */
        content: "";
        width: 18px;
        height: 18px;
        border-radius: 18px;
        margin-left: -9px;
        margin-top: -9px;
        background: black;
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow: 0 0 30px gray
    }

    .inner_face::after {
        content: "QUARTZ";
        position: absolute;
        width: 100%;
        font: normal 0.8em Arial;
        color: gray;
        text-align: center;
        top: 85%
    }

    .hand, .hand.hour {
        position: absolute;
        width: 4px;
        height: 30%;
        top: 20%;
        left: 50%;
        margin-left: -2px;
        background: black;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        z-index: -1;
        -moz-box-shadow: 0 0 3px gray;
        -webkit-box-shadow: 0 0 3px gray;
        box-shadow: 0 0 3px gray
     }

    .hand.minute {
        height: 45%;
        top: 5%;
        width: 6px;
        margin-left: -3px;
    }

    .hand.second {
        height: 50%;
        width: 2px;
        margin-left: -1px;
        top: 0;
        background: red
    }
    .container {
        display: inline-block;
        width: 550px;
        height: 100px;
    }

    img:hover {zoom:120%;}

</style>

<body style="background-image: url(https://maps.googleapis.com/maps/api/place/photo?maxwidth=1024&photoreference={{reference}}&key=AIzaSyDK1zU_jWE0pWRqIdyiFD2SIlX7xmxP9WQ);
background-attachment: fixed;
background-size: cover;">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-white" style="padding:5px;opacity:0.6;" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="{% url 'find_city' %}" class="w3-bar-item w3-button"><i class="fa fa-search"></i>  FIND CITY</a>
    <a href="{% url 'alerts' %}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i>  MY ALERTS</a>
    <a href="{% url 'sign_out' %}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-out"></i>  SIGN OUT</a>
  </div>
</div>

<!-- Content -->
  <div>
  <br /><br /><h1 style="color:white;float: center;">Current weather in {{city}}</h1>

  <section class="weather-card C(#fff) M(10px) Pos(a) B(0) Start(0) End(0)" data-type="temperature" data-reactid="21">
    <div class="container">
    <div class="temperature Fz(14px) Tsh($temperature-text-shadow)" data-reactid="22" style="background-color:black;opacity:0.4;color:white;float: left;">
      <div class="My(2px)" data-reactid="23">
        <span data-code="39" class="Va(m)" data-reactid="24">
          <br /><br /><img alt=" {{description}}" height="75" title=" {{description}}" width="75" class=" " src="http://openweathermap.org/img/w/{{icon}}.png" data-reactid="25">
        </img>
        </span>
        <span style="font-size:25px;font-weight:bold">{{description}}</span>
              </div>
      <br />
      <div class="high-low My(2px) Fz(1.2em)--sm Fz(1.6em) Trsdu(.3s)" data-reactid="27">
        <svg class="Va(m) Px(6px) Cur(p)" width="20" height="20" viewBox="0 0 48 48" data-icon="arrow-up" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0; vertical-align: bottom;">
          <path d="M13.764 18.75c-.792.772-.808 2.037-.04 2.828.772.792 2.038.81 2.83.04l5.678-5.526v23.59h4v-23.59l5.68 5.525c.79.77 2.058.753 2.827-.04.377-.388.565-.89.565-1.394 0-.52-.202-1.042-.605-1.434L24.23 8.566 13.763 18.75z">
          </path>
        </svg>
        <span class="Va(m) Px(6px)" data-reactid="29">{{max}}°
        </span>
        <svg class="Va(m) Px(6px) Cur(p)" width="20" height="20" viewBox="0 0 48 48" data-icon="arrow-down" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0; vertical-align: bottom;">
          <path d="M34.7 29.5c.793-.773.81-2.038.04-2.83-.77-.79-2.037-.81-2.83-.038l-5.677 5.525V8.567h-4v23.59l-5.68-5.525c-.79-.77-2.058-.753-2.827.04-.378.388-.566.89-.566 1.394 0 .52.202 1.042.605 1.434l10.472 10.183L34.7 29.5z">
          </path>
        </svg>
        <span class="Va(m) Px(6px)" data-reactid="33">{{min}}°
        </span>
      </div>
      <br />
      <div class="now Fz(8em)--sm Fz(10em) Lh(0.9em) Fw(100) My(2px) Trsdu(.3s)" data-reactid="36">
        <span class="Va(t)" data-reactid="37" style="font-size:85px;font-weight:bold">{{temp}}</span>
        <span class="Va(t) Fz(.7em) Lh(1em)" data-reactid="38" style="font-size:35px">°</span>
        <span class="unit Tt(c) Fz(.2em) Fw(200) O(n) P(6px) Va(t) D(b) Lh(1em) Tsh($temperature-text-shadow) M(a) C(#fff)" data-reactid="40" style="font-size:35px">C</span>
      </div>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript">
  // given the city's UTC offset
function calcTime(offset) {

  // create Date object for current location
  d = new Date();

  // convert to msec
  // add local time zone offset
  // get UTC time in msec
  utc = d.getTime() + (d.getTimezoneOffset() * 60000);

  // create new Date object for different city
  // using supplied offset
  nd = new Date(utc + (1000*offset));

  // return time as a string
  return nd;

}
var el=document.getElementById('calcTimea')
el.onclick=calcTime({{offset}})
</script>
    <div class="container" style="float: left;" id="liveclock">
      <div class="outer_face">
        <div class="marker oneseven"></div>
        <div class="marker twoeight"></div>
        <div class="marker fourten"></div>
        <div class="marker fiveeleven"></div>
        <div class="inner_face">
          <div class="hand hour"></div>
          <div class="hand minute"></div>
          <div class="hand second"></div>
        </div>

      </div>
      <div id='calcTimea'>Time at {{city}}: </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
    // given the city's UTC offset
function calcTime(offset) {

    // create Date object for current location
    d = new Date();

    // convert to msec
    // add local time zone offset
    // get UTC time in msec
    utc = d.getTime() + (d.getTimezoneOffset() * 60000);

    // create new Date object for different city
    // using supplied offset
    nd = new Date(utc + (1000*offset));

    // return time as a string
    return nd;

}

    var $hands = $('#liveclock div.hand')

    window.requestAnimationFrame = window.requestAnimationFrame
                                   || window.mozRequestAnimationFrame
                                   || window.webkitRequestAnimationFrame
                                   || window.msRequestAnimationFrame
                                   || function(f){return setTimeout(f, 1000/60)}


    function updateclock(){
     var curdate = calcTime({{offset}})
     var hour_as_degree = ( curdate.getHours() + curdate.getMinutes()/60 ) / 12 * 360
     var minute_as_degree = curdate.getMinutes() / 60 * 360
     var second_as_degree = ( curdate.getSeconds() + curdate.getMilliseconds()/1000 ) /60 * 360
     $hands.filter('.hour').css({transform: 'rotate(' + hour_as_degree + 'deg)' })
     $hands.filter('.minute').css({transform: 'rotate(' + minute_as_degree + 'deg)' })
     $hands.filter('.second').css({transform: 'rotate(' + second_as_degree + 'deg)' })
     requestAnimationFrame(updateclock) //
    }

    requestAnimationFrame(updateclock)
</script>
  </section>
  <section style="float:left">
    <form action="{% url 'alerts' %}">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><button class="w3-button w3-red w3-left w3-section" type="submit">SET ALARM</button>
    </form>
  </section>

  <section>
    <table style="background-color:black;opacity:0.6;color:white;float: center;">
      <caption style="font-size:25px;bold"><br /><br /><br /><br /><br /><br /><br /><br /><b>Forecast<br /></caption>

      <thead> <!-- En-tête du tableau -->
        <tr>
            <th></th>
            <th>00:00</th>
            <th>03:00</icon>
            <th>06:00</th>
            <th>09:00</th>
            <th>12:00</th>
            <th>15:00</th>
            <th>18:00</th>
            <th>21:00</th>
          </tr>
        </thead>

        <tbody> <!-- Corps du tableau -->
          <tr>
            <td>{{day1}}</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon11}}.png" data-reactid="25"></img>
            <br /><span>{{desc11}}
            <br /><span>{{temp11}} °C
            <br /><span>{{max11}}/{{min11}} °C
            <br /><span>{{wind11}} m/s
            <br /><span>{{pressure11}} hPa
            <br /><span>{{humidity11}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon12}}.png" data-reactid="25"></img>
            <br /><span>{{desc12}}
            <br /><span>{{temp12}} °C
            <br /><span>{{max12}}/{{min12}} °C
            <br /><span>{{wind12}} m/s
            <br /><span>{{pressure12}} hPa
            <br /><span>{{humidity12}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon13}}.png" data-reactid="25"></img>
            <br /><span>{{desc13}}
            <br /><span>{{temp13}} °C
            <br /><span>{{max13}}/{{min13}} °C
            <br /><span>{{wind13}} m/s
            <br /><span>{{pressure13}} hPa
            <br /><span>{{humidity13}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon14}}.png" data-reactid="25"></img>
            <br /><span>{{desc14}}
            <br /><span>{{temp14}} °C
            <br /><span>{{max14}}/{{min14}} °C
            <br /><span>{{wind14}} m/s
            <br /><span>{{pressure14}} hPa
            <br /><span>{{humidity14}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon15}}.png" data-reactid="25"></img>
            <br /><span>{{desc15}}
            <br /><span>{{temp15}} °C
            <br /><span>{{max15}}/{{min15}} °C
            <br /><span>{{wind15}} m/s
            <br /><span>{{pressure15}} hPa
            <br /><span>{{humidity15}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon16}}.png" data-reactid="25"></img>
            <br /><span>{{desc16}}
            <br /><span>{{temp16}} °C
            <br /><span>{{max16}}/{{min16}} °C
            <br /><span>{{wind16}} m/s
            <br /><span>{{pressure16}} hPa
            <br /><span>{{humidity16}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon17}}.png" data-reactid="25"></img>
            <br /><span>{{desc17}}
            <br /><span>{{temp17}} °C
            <br /><span>{{max17}}/{{min17}} °C
            <br /><span>{{wind17}} m/s
            <br /><span>{{pressure17}} hPa
            <br /><span>{{humidity17}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon18}}.png" data-reactid="25"></img>
            <br /><span>{{desc18}}
            <br /><span>{{temp18}} °C
            <br /><span>{{max18}}/{{min18}} °C
            <br /><span>{{wind18}} m/s
            <br /><span>{{pressure18}} hPa
            <br /><span>{{humidity18}} %</td>
          </tr>



          <tr>
            <td>{{day2}}</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon11}}.png" data-reactid="25"></img>
            <br /><span>{{desc21}}
            <br /><span>{{temp21}} °C
            <br /><span>{{max21}}/{{min11}} °C
            <br /><span>{{wind21}} m/s
            <br /><span>{{pressure21}} hPa
            <br /><span>{{humidity21}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon12}}.png" data-reactid="25"></img>
            <br /><span>{{desc22}}
            <br /><span>{{temp22}} °C
            <br /><span>{{max22}}/{{min22}} °C
            <br /><span>{{wind22}} m/s
            <br /><span>{{pressure22}} hPa
            <br /><span>{{humidity22}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon13}}.png" data-reactid="25"></img>
            <br /><span>{{desc23}}
            <br /><span>{{temp23}} °C
            <br /><span>{{max23}}/{{min23}} °C
            <br /><span>{{wind23}} m/s
            <br /><span>{{pressure23}} hPa
            <br /><span>{{humidity23}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon14}}.png" data-reactid="25"></img>
            <br /><span>{{desc24}}
            <br /><span>{{temp24}} °C
            <br /><span>{{max24}}/{{min24}} °C
            <br /><span>{{wind24}} m/s
            <br /><span>{{pressure24}} hPa
            <br /><span>{{humidity24}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon15}}.png" data-reactid="25"></img>
            <br /><span>{{desc25}}
            <br /><span>{{temp25}} °C
            <br /><span>{{max25}}/{{min25}} °C
            <br /><span>{{wind25}} m/s
            <br /><span>{{pressure25}} hPa
            <br /><span>{{humidity25}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon16}}.png" data-reactid="25"></img>
            <br /><span>{{desc26}}
            <br /><span>{{temp26}} °C
            <br /><span>{{max26}}/{{min26}} °C
            <br /><span>{{wind26}} m/s
            <br /><span>{{pressure26}} hPa
            <br /><span>{{humidity26}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon17}}.png" data-reactid="25"></img>
            <br /><span>{{desc27}}
            <br /><span>{{temp27}} °C
            <br /><span>{{max27}}/{{min27}} °C
            <br /><span>{{wind27}} m/s
            <br /><span>{{pressure27}} hPa
            <br /><span>{{humidity27}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon18}}.png" data-reactid="25"></img>
            <br /><span>{{desc28}}
            <br /><span>{{temp28}} °C
            <br /><span>{{max28}}/{{min28}} °C
            <br /><span>{{wind28}} m/s
            <br /><span>{{pressure28}} hPa
            <br /><span>{{humidity28}} %</td>
          </tr>



          <tr>
            <td>{{day3}}</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon11}}.png" data-reactid="25"></img>
            <br /><span>{{desc31}}
            <br /><span>{{temp31}} °C
            <br /><span>{{max31}}/{{min31}} °C
            <br /><span>{{wind31}} m/s
            <br /><span>{{pressure31}} hPa
            <br /><span>{{humidity31}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon12}}.png" data-reactid="25"></img>
            <br /><span>{{desc32}}
            <br /><span>{{temp32}} °C
            <br /><span>{{max32}}/{{min32}} °C
            <br /><span>{{wind32}} m/s
            <br /><span>{{pressure32}} hPa
            <br /><span>{{humidity32}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon13}}.png" data-reactid="25"></img>
            <br /><span>{{desc33}}
            <br /><span>{{temp33}} °C
            <br /><span>{{max33}}/{{min13}} °C
            <br /><span>{{wind33}} m/s
            <br /><span>{{pressure33}} hPa
            <br /><span>{{humidity33}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon14}}.png" data-reactid="25"></img>
            <br /><span>{{desc34}}
            <br /><span>{{temp34}} °C
            <br /><span>{{max34}}/{{min34}} °C
            <br /><span>{{wind34}} m/s
            <br /><span>{{pressure34}} hPa
            <br /><span>{{humidity34}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon15}}.png" data-reactid="25"></img>
            <br /><span>{{desc35}}
            <br /><span>{{temp35}} °C
            <br /><span>{{max35}}/{{min35}} °C
            <br /><span>{{wind35}} m/s
            <br /><span>{{pressure35}} hPa
            <br /><span>{{humidity35}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon16}}.png" data-reactid="25"></img>
            <br /><span>{{desc36}}
            <br /><span>{{temp36}} °C
            <br /><span>{{max36}}/{{min36}} °C
            <br /><span>{{wind36}} m/s
            <br /><span>{{pressure36}} hPa
            <br /><span>{{humidity36}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon17}}.png" data-reactid="25"></img>
            <br /><span>{{desc37}}
            <br /><span>{{temp37}} °C
            <br /><span>{{max37}}/{{min37}} °C
            <br /><span>{{wind37}} m/s
            <br /><span>{{pressure37}} hPa
            <br /><span>{{humidity37}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon18}}.png" data-reactid="25"></img>
            <br /><span>{{desc38}}
            <br /><span>{{temp38}} °C
            <br /><span>{{max38}}/{{min38}} °C
            <br /><span>{{wind38}} m/s
            <br /><span>{{pressure38}} hPa
            <br /><span>{{humidity38}} %</td>
          </tr>



          <tr>
            <td>{{day4}}</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon11}}.png" data-reactid="25"></img>
            <br /><span>{{desc41}}
            <br /><span>{{temp41}} °C
            <br /><span>{{max41}}/{{min41}} °C
            <br /><span>{{wind41}} m/s
            <br /><span>{{pressure41}} hPa
            <br /><span>{{humidity41}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon12}}.png" data-reactid="25"></img>
            <br /><span>{{desc42}}
            <br /><span>{{temp42}} °C
            <br /><span>{{max42}}/{{min42}} °C
            <br /><span>{{wind42}} m/s
            <br /><span>{{pressure42}} hPa
            <br /><span>{{humidity42}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon13}}.png" data-reactid="25"></img>
            <br /><span>{{desc43}}
            <br /><span>{{temp43}} °C
            <br /><span>{{max43}}/{{min43}} °C
            <br /><span>{{wind43}} m/s
            <br /><span>{{pressure43}} hPa
            <br /><span>{{humidity43}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon14}}.png" data-reactid="25"></img>
            <br /><span>{{desc44}}
            <br /><span>{{temp44}} °C
            <br /><span>{{max44}}/{{min44}} °C
            <br /><span>{{wind44}} m/s
            <br /><span>{{pressure44}} hPa
            <br /><span>{{humidity44}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon15}}.png" data-reactid="25"></img>
            <br /><span>{{desc45}}
            <br /><span>{{temp45}} °C
            <br /><span>{{max45}}/{{min45}} °C
            <br /><span>{{wind45}} m/s
            <br /><span>{{pressure45}} hPa
            <br /><span>{{humidity45}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon16}}.png" data-reactid="25"></img>
            <br /><span>{{desc46}}
            <br /><span>{{temp46}} °C
            <br /><span>{{max46}}/{{min46}} °C
            <br /><span>{{wind46}} m/s
            <br /><span>{{pressure46}} hPa
            <br /><span>{{humidity46}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon17}}.png" data-reactid="25"></img>
            <br /><span>{{desc47}}
            <br /><span>{{temp47}} °C
            <br /><span>{{max47}}/{{min47}} °C
            <br /><span>{{wind47}} m/s
            <br /><span>{{pressure47}} hPa
            <br /><span>{{humidity47}} %</td>
            <td><img alt=" {{description}}" height="50" title=" {{description}}" width="50" class=" " src="http://openweathermap.org/img/w/{{icon18}}.png" data-reactid="25"></img>
            <br /><span>{{desc48}}
            <br /><span>{{temp48}} °C
            <br /><span>{{max48}}/{{min48}} °C
            <br /><span>{{wind48}} m/s
            <br /><span>{{pressure48}} hPa
            <br /><span>{{humidity48}} %</td>
          </tr>
        </tbody>
      </section>
</div>
</body>
</html>
