{% extends 'base.html' %}
{% block title %}WEATHER - Login{% endblock %}
{% block content %}
<div class="w3-content w3-container w3-padding-64" id="alerts">
  <h3 class="w3-center">CREATE ALERTS</h3>
  <p class="w3-center"><em>Please sign in if you already have an account :</em></p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Password" required name="Password">
          </div>
        </div>
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          SIGN IN
        </button><br/><br/><br/>
      </form>
  <h3 class="w3-center">DON'T HAVE AN ACCOUNT ?</h3>
  <p class="w3-center"><em>Please sign up to receive rain alerts by email</em></p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Password" required name="Password">
          </div>
        </div>
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          SIGN UP
        </button>
      </form>
</div>
{% endblock %}
