<!DOCTYPE html>
<html>
{% load static %}
<title>{% block title %} hello {% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'city/style.css' %}">
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-black" style="padding:5px;opacity:0.6;" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="{% url 'find_city' %}" class="w3-bar-item w3-button"><i class="fa fa-search"></i>  FIND CITY</a>
    <a href="{% url 'alerts' %}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-gears"></i>  MY ALERTS</a>
    {% if user.is_authenticated %}
    <a class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-umbrella"></i>Rain alerts : {{alerts}}</a>
    <a href="{% url 'sign_out' %}" class="w3-bar-item w3-right w3-button w3-hide-small"><i class="fa fa-sign-out"></i>  SIGN OUT</a>
    {% else %}
    <a href="{% url 'sign_in' %}" class="w3-bar-item w3-right w3-button w3-hide-small"><i class="fa fa-sign-in"></i>  SIGN IN</a>
    {% endif %}
  </div>
</div>

<!-- Content -->
{% block content %}
{% endblock %}
</body>
</html>
